.active {
  opacity: 1;
  display: none;
}

.active-blog {
  opacity: 1;
  display: none;
}

.active-project {
  opacity: 1;
}

.active-profile {
  opacity: 1;
}

.active-profile.is-active{
  animation: appear 0.7s;
}

.active.is-active{
  animation: appear 0.7s;
}

.active-project.is-active{
  animation: appear 0.7s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}