<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1027411889.js" crossorigin="anonymous"></script>
    <title>Phuc Mai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Free_Sample_By_Wix.jpg') }}" >
    
  </head>
  <body>
    <div style="text-align: center; margin-top: 15px;">
      <a class=" hover-underline-animation" id="profile_nav" style="font-size: 1.3rem;" href="{{url_for('main')}}">Phuc Mai</a>
    </div>

    <section id="ezlab" class="active-project">
      <h1 class="title phuc" style="padding-top: 40px;">Beaver</h1>
      <div class="section-container" >
        <a href="https://github.com/mdphuc/ezlab.git" target="_blank">
          <div class="section__pic-container" style="margin-bottom: 14%;">
            <img
              src="{{ url_for('static', filename='images/beaver.jpg')}}"
              alt="Profile picture"
              style="border-radius: 100%; width: 100%; height: 300px;"
            />
          </div>
        </a>
        <div class="about-details-container" style="margin-bottom: 7%;">
          <div class="text-container">
            <p style="font-size: 1rem;">
              The project, utilizing Golang, is an upgrade version of <a href="https://github.com/mdphuc/remotenv" target="_blank">remotenv</a> allows user accross larger platform (also supports linux user) to build a middle place to develop, run, and test their code in a Linux operating system of their own choice. 
            </p>
            <br>
            <p><i>Nov 19 2023</i></p>
            <br>
            <a href="https://github.com/mdphuc/beaver.git" target="_blank">
              <i class="fa-solid fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
   
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script>
      document.getElementById("ezlab").classList.toggle("is-active")
    </script>
    <script src="{{ url_for('static', filename='js/nav.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <script>
      $("profile-nav").on('click', function(e){
        $("about").show()

      })
    </script>
  </body>
</html>
