<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1027411889.js" crossorigin="anonymous"></script>
    <title>Phuc Mai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Free_Sample_By_Wix.jpg') }}" >
    
  </head>
  <body>
    <div style="text-align: center; margin-top: 15px;">
      <a class=" hover-underline-animation" id="profile_nav" style="font-size: 1.3rem;" href="{{url_for('main')}}">Phuc Mai</a>
    </div>

    <section id="ezlab" class="active-project">
      <h1 class="title phuc" style="padding-top: 40px;">EzLab</h1>
      <div class="section-container" >
        <a href="https://github.com/mdphuc/ezlab.git" target="_blank">
          <div class="section__pic-container" style="margin-bottom: 14%;">
            <img
              src="{{ url_for('static', filename='images/Ezlab.png')}}"
              alt="Profile picture"
              class="about-pic"
            />
          </div>
        </a>
        <div class="about-details-container" style="margin-bottom: 7%;">
          <div class="text-container">
            <p style="font-size: 1rem;">
              When set up virtual machine or even bigger like a hacking lab for the first time, I took so much time reading documentation and clicking buttons, and even later when being familiar with the concept, the later one still happens to me. That's why I came up with this project. It is designed to help Windows user set up their virtual machine and hacking lab faster nad more convenient. At the mean time, it can only work on Virtual Box running on Windows, but I'm working on some changes to make it work on other machine like Linux or Mac and also VMware.
            </p>
            <br>
            <p><i>Sep 6 2023</i></p>
            <br>
            <a href="https://github.com/mdphuc/ezlab.git" target="_blank">
              <i class="fa-solid fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
   
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script>
      document.getElementById("ezlab").classList.toggle("is-active")
    </script>
    <script src="{{ url_for('static', filename='js/nav.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <script>
      $("profile-nav").on('click', function(e){
        $("about").show()

      })
    </script>
  </body>
</html>
