<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phuc Mai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}" />
    <link rel="icon" type="image/x-icon" href="/assets/Free_Sample_By_Wix.jpg" >
    
  </head>
  <body>
    <nav id="desktop-nav" class="logo">
      <div>
        <ul>
          <li>
            <a class=" hover-underline-animation" id="profile_nav" style="margin-left: 40%;">Phuc Mai</a>
            <a class=" hover-underline-animation" id="blog_nav" style="float: left; margin-left: 5%; font-size: 1rem;">Blog</a>
            <a class=" hover-underline-animation"   id="about_nav" style="float: right; margin-right: 5%; font-size: 1rem;">About</a>
          </li>
          
        </ul>
        
      </div>
    </nav>
    <section id="profile" class="active-profile" >
      <div class="section__text" style="margin-bottom: 27%;">
        <h1 class="title phuc">Hi, I'm Phuc.</h1>
        <br>
        <p class="section__text__p2" style="font-size: medium;">
          I'm a Cybersecurity Engineering student at University of Cincinnati.
        </p>
        <!-- <div class="btn-container">
          <button
            class="btn btn-color-2"
            onclick="window.open('./assets/resume-example.pdf')"
          >
            Download CV
          </button>
          <button class="btn btn-color-1" onclick="location.href='./#contact'">
            Contact Info
          </button>
        </div>
       -->
      
        <div class="item-container">
          <div class="item shadow" style="left: 37%;">
            <img
              src="{{ url_for('static', filename = 'images/UC_CEAS.jpeg')}}"
              style="width: 80%; padding-top: 60px;"
            >
            <div class="overlay">
              <a>
              <div class="content">
                <p style="font-size: 1.4rem; color: white;">Class of 2028</p>
              </div>
              </a>
            </div>
          </div>
          
          
        </div>
      </div>
      
    </section>
    <section id="about" class="active" >
      <p class="section__text__p1" style="padding-top: 15px;">Get To Know More</p>
      <h1 class="title phuc" style="padding-top: 15px;">About Me</h1>
      <div class="section-container" >
        <div class="section__pic-container">
          <img
            src="{{ url_for('static', filename='images/profile-pic.png')}}"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="text-container">
            <p>
              <b>  Hi!</b> My name is Phuc; I come from Hanoi, Vietnam. I'm University of Cincinnati 28' Cybersecurity Engineering student. I can speak Vietnamese (of course as it's my mother tongue) and English. 
            </p>
            <br>
            <p>
              I like reading books and taking pictures of the outside world. My focus point in photography is to find the beauty under the true self of everything. Beside being a photographer, I'm definitely a techie. I love playing CTF, and I'm really interested in the infrastructure side of Cybersecurity. My goal is to become a Cybersecurity Architect or Cybersecurity Infrastructure Engineer in the future. By being an UHP student, I really want to use this great opportunity to explore more my field of interest, meet more people specialized in the field, and gain more experience for my future career.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="blog" class="active" style="padding-top: 80px;">
      <p class="section__text__p1">Browse My Recent</p>
      <h1 class="title phuc">Projects</h1>
      <div class="item-container">
        <div class="item shadow" style="left: 38%;">
          <img
            src="{{ url_for('static', filename='images/UC_CEAS.jpeg')}}"
            style="width: 80%; padding-top: 60px;"
          >
          <div class="overlay">
            <a>
            <div class="content">
              <p style="font-size: 1.4rem; color: white;">Class of 2028</p>
            </div>
            </a>
          </div>
        </div>
        
        
      </div>
        
    </section>
    <!-- <div id="socials-container">
      <img
        src="./assets/linkedin.png"
        alt="My LinkedIn profile"
        class="icon"
        onclick="window.open('https://www.linkedin.com/in/phuc-mai-92a895272/','_blank')"
      />
      <img
        src="./assets/github.png"
        alt="My LinkedIn profile"
        class="icon"
        onclick="window.open('https://github.com/mdphuc','_blank')"
      />
    </div> -->
    
    <ul style="position: relative; z-index: 1;">
      <li>
        <a class=" hover-underline-animation" style="float: right; margin-right: 3%;">
          <img
            src="{{ url_for('static', filename='images/linkedin.png')}}"
            alt="My LinkedIn profile"
            class="icon"
            onclick="window.open('https://www.linkedin.com/in/phuc-mai-92a895272/','_blank')"
          />
        </a>
        <a class=" hover-underline-animation" style="float: right; margin-right: 1%; font-size: 1rem;">
          <img
          src="{{ url_for('static', filename='images/github.png')}}"
          alt="My Github profile"
          class="icon"
          onclick="window.open('https://github.com/mdphuc','_blank')"
          />
        </a>
        
      </li>
      <li></li>
      <li>
        <a class="hover-underline-animation1" style="float: right; margin-right: 2.5%; font-size: 1rem">
          <img
          style="width: 41px; height: auto; "
          src="{{ url_for('static', filename='images/checkmark.png')}}"
          alt="My Email"
          class="icon"
          onclick="window.open('mailto:mdphuc1110@gmail.com','_blank')"
          />
        </a>
        <a class="hover-underline-animation1" style="float: right; margin-right: 0.5%; font-size: 1rem">
          <img
          style="width: 40px; height: auto; "
          src="{{ url_for('static', filename='images/email.png')}}"
          alt="My Email"
          class="icon"
          onclick="window.open('mailto:mdphuc1110@gmail.com','_blank')"
          />
        </a>
      </li>
    </ul>
    
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script src="{{ url_for('static', filename='js/nav.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
      $("profile-nav").on('click', function(e){
        $("about").show()

      })
    </script>
  </body>
</html>
