<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phuc Mai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Free_Sample_By_Wix.jpg') }}" >
    
  </head>
  <body>
    <div style="text-align: center; margin-top: 15px;" class="logo">
      <a class=" hover-underline-animation" id="profile_nav" style="font-size: 1.3rem;">Phuc Mai</a>
      <a class=" hover-underline-animation" id="blog_nav" style="float: left; margin-left: 5%; font-size: 1rem;">Blog</a>
      <div class=" hover-underline-animation dropdown" style="float: right; margin-right: 5%; font-size: 1rem;">
        <span id="about_nav" >About</span>
        <div class="dropdown-content">
          <a class="hover-underline-animation" href="{{url_for('uc', category='main')}}" style="margin-right: 100%;">School</a>
        </div>
      </div>
  
    </div>
    <section id="profile" class="active-profile" style="margin-top: -5%;">
      <div class="section__text">
        <h1 class="title phuc">Hi, I'm Phuc.</h1>
        <br>
        <p class="section__text__p2" style="font-size: medium;">
          I'm a Cybersecurity Engineering student at University of Cincinnati.
        </p>
        <div class="btn-container">
          <button
            class="btn btn-color-2"
            id="resume"
          >
            Download CV
          </button>
          <script>
            document.getElementById("resume").addEventListener('click', function(){
              window.open("{{url_for('resume')}}")
            })
          </script>
          <button class="btn btn-color-1" onclick="window.open('mailto:maipd@mail.uc.edu','_blank')">
            Email me
          </button>
        </div>
        <div id="socials-container">
          <img
            src="{{url_for('static',filename='images/linkedin.png')}}"
            alt="My LinkedIn profile"
            class="icon"
            onclick="window.open('https://www.linkedin.com/in/phuc-mai-92a895272/','blank')"
          />
          <img
            src="{{url_for('static',filename='images/github.png')}}"
            alt="My Github profile"
            class="icon"
            onclick="window.open('https://github.com/mdphuc/','blank')"
            style="padding-left: 10px;"
          />
          <img
            src="{{url_for('static',filename='images/THMlogo.png')}}"
            alt="tryhackme"
            class="icon"
            onclick="window.open('https://tryhackme.com/p/mdphuc','blank')"
            style="padding-left: 10px;"
          />
          <img
          src="{{url_for('static',filename='images/HTB.png')}}"
          alt="hackthebox"
          class="icon"
          onclick="window.open('https://app.hackthebox.com/profile/703218','blank')"
          style="padding-left: 10px"
          />
          <img
          src="{{url_for('static',filename='images/file.jpg')}}"
          alt="file"
          class="icon"
          onclick="window.open('https://github.com/mdphuc/myfile','blank')"
          style="padding-left: 10px"
          />

        </div>
        <div class="item-container">
          <div class="item1 shadow" id="card1">
            <img
                src="{{url_for('static',filename='images/EzLab.png')}}"
                alt="EzLab"
                class="icon"
                style="width: 100%; height: auto; margin-top: 13%;"
              />
            <a href="{{url_for('project', ProjectName = 'ezlab')}}">

              <div class="overlay">
                <div class="content">
                  <p style="font-size: 1rem; color: white">The project is designed to help develop and test program easier</p>
                </div>

              </div>
            </a>
          </div>
          <div class="item1 shadow" id="card1">
            <img
                src="{{url_for('static',filename='images/remotenv.png')}}"
                alt="EzLab"
                class="icon"
                style="width: 60%; height: auto; margin-top: 35%;"
              />
            <a href="{{url_for('project', ProjectName = 'remotenv')}}">

              <div class="overlay">
                <div class="content">
                  <p style="font-size: 1rem; color: white">The project is designed to help create virtual machine and hacking lab on Virtual Box faster on Windows</p>
                </div>

              </div>
            </a>
          </div>
          <div class="item1 shadow" id="card1">
            <img
                src="{{url_for('static',filename='images/beaver.jpg')}}"
                alt="EzLab"
                class="icon"
                style="width: 100%; height: auto; margin-top: 25%;"
              />
            <a href="{{url_for('project', ProjectName = 'beaver')}}">

              <div class="overlay">
                <div class="content">
                  <p style="font-size: 1rem; color: white">The project, utilizing Golang, is an upgraded version of remotenv</p>
                </div>

              </div>
            </a>
          </div>


          
        </div>

      </div>
      
    </section>
    <section id="about" class="active" style="position: relative; z-index: 0;">
      <p class="section__text__p1" style="padding-top: 30px;">Get To Know More</p>
      <h1 class="title phuc" style="padding-top: 15px;">About Me</h1>
      <div class="section-container" >
        <div class="section__pic-container">
          <img
            src="{{ url_for('static', filename='images/profile-pic.png')}}"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="text-container">
            <p>
              <b>  Hi!</b> My name is Phuc; I come from Hanoi, Vietnam. I'm University of Cincinnati 28' Cybersecurity Engineering student. 
            </p>
            <br>
            <p>
              I like reading books and taking pictures of the outside world. My focus point in photography is to find the beauty under the true self of everything. I love playing CTF. My goal is to work in the Infrastructure and Network area of Cybersecurity. 
            </p>
            <br>
          </div>
        </div>
      </div>
    </section>
    <section id="blog" class="active" style="margin-top: 3%;" >
      <p class="section__text__p1">Browse My Recent</p>
      <br>
      <h1 class="title phuc">Blog</h1>
      <!-- <div class="item-container">
        <div class="item2 shadow" id="card1">
          <img
              src="{{url_for('static',filename='images/ENED.jpg')}}"
              alt="EzLab"
              class="icon"
              style="width: 60%; height: auto; margin-top: 13%"
            />
          <p style="text-align: center;">But... Is it?</p>
          <a href="{{url_for('blog', BlogName = 'ened1100experience')}}">

            <div class="overlay">
              <div class="content">
                <p style="font-size: 1rem; color: white">ENED 1100 Fall 2023 thoughts and experience</p>
              </div>

            </div>
          </a>
        </div> -->
      </div>
    </section>
    <!-- <div id="socials-container">
      <img
        src="./assets/linkedin.png"
        alt="My LinkedIn profile"
        class="icon"
        onclick="window.open('https://www.linkedin.com/in/phuc-mai-92a895272/','_blank')"
      />
      <img
        src="./assets/github.png"
        alt="My LinkedIn profile"
        class="icon"
        onclick="window.open('https://github.com/mdphuc','_blank')"
      />
    </div> -->

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/nav.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
      $("profile-nav").on('click', function(e){
        $("about").show()

      })
    </script>
  </body>
</html>
