<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1027411889.js" crossorigin="anonymous"></script>
    <title>Phuc Mai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaqueries.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Free_Sample_By_Wix.jpg') }}" >
    
  </head>
  <body>
    <div class="sidenav">
      <nav id="desktop-nav" class="logo" >
        <div>
          <ul>
            <li>
              <a class=" hover-underline-animation" id="profile_nav" style="margin-left: 33%; color: white;" href="{{url_for('main')}}">Phuc Mai</a>
            </li>
          </ul>
          
        </div>
      </nav>
      <p class="_table">Table of Content</p>
      <ul style="padding-top: 2%;">
        <li class="layer1">
          <i class="fa-solid fa-caret-down"></i>
          <a style="color: rgb(180, 178, 178); padding-left: 1%;" href="#" onclick="document.getElementById('content2').style.display = 'none'">1. Introduction</a>
        </li>
      </ul>
      <ul class="layer2">
        <li>
          <a style="font-size: 1rem; margin-left: 3%; padding-top: 1%; color: rgb(180, 178, 178);" href="">1. Introduction</a>
        </li>
        <li>
          <a style="font-size: 1rem; margin-left: 3%; padding-top: 1%; color: rgb(180, 178, 178);" href="">1. Introduction</a>
        </li>
      </ul>
      <ul id="layer1">
        <a style="font-size: 1rem; margin-left: 3%; padding-top: 1%; color: rgb(180, 178, 178);" href="">2. Introduction</a>      
      </ul>

    </div>
    <section id="VMIsEasy" class="active-project">
      <div style="height: 30px; padding-left: 27%;" id="title">
        <h1 class="title phuc" style="padding-top: 1%; font-size: 2.4rem;">Setting up a virtual environment </h1>
        <h1 class="title phuc" style="padding-top: 1%; font-size: 2.4rem;">no longer a problem</h1>
        <br>
        <p style="font-size: 1.1rem; margin-left: 80%;"><i>Sep 7 2023</i></p>
        <code style="font-size: 1.1rem;">alert("hello")</code>
      </div>
      <div class="section-container" >
        
      </div>
    </section>
   
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script>
      document.getElementById("VMIsEasy").classList.toggle("is-active")
    </script>
    <script src="{{ url_for('static', filename='js/nav.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <script>
      $("profile-nav").on('click', function(e){
        $("about").show()

      })
    </script>
  </body>
</html>
